body {
    background-color: #cacaca;
  }

  #wrapper {
    background-color: #ffffff;
    box-sizing: border-box;
    width: 40vw;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    left: 30vw;
    overflow-y: scroll;
    padding: 1%;
  }